@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}


.group-hover\:animate-none:hover {
  animation-play-state: paused;
}

.reverse-animation {
  animation-direction: reverse;
}
a:hover{
  color: black;
}
html {
  scroll-behavior: smooth;
}